<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
Se agrego Exitosamente  a la base de datos {{ miembros1.nombre }} <br><br>
con el apellido {{ miembros1.apellido }} <br><br>
con el Fecha de nacimiento {{ miembros1.nacimiento }} <br><br>
con la edad {{ miembros1.edad }} <br><br>
el ID asignado es :  {{ miembros1.id }} <br><br>



  </body>
</html>