<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
<h1>Los miembos de mi Familia son :</h1> <br><br>

Mi madre se llama : {{ ver.nombre }}<br>
su apellido es : {{ ver.apellido }}<br>
su fecha de nacimiento es : {{ ver.nacimiento }}<br><br><br>

Mi Padre es {{ ver2.nombre }}<br>
su apellido es : {{ ver2.apellido }}<br>
su fecha de nacimiento es : {{ ver2.nacimiento }}<br><br><br>

Mi Hermana se llama : {{ ver3.nombre }}<br>
su apellido es : {{ ver3.apellido }}<br>
su fecha de nacimiento es : {{ ver3.nacimiento }}<br><br><br>

Mi Esposa se llama : {{ ver4.nombre }}<br>
su apellido es : {{ ver4.apellido }}<br>
su fecha de nacimiento es : {{ ver4.nacimiento }}<br><br><br>

  </body>
</html>